.profile-page {
    display: flex;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 40%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    overflow: hidden;
}

.profile-picture img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.profile-content {
    width: 50%;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.profile-content p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.button, .delete-button {
    display: block;
    width: 200px;
    margin: 10px auto;
}

.delete-button {
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.button {
    background-color: #004AAD;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.button:hover {
    background-color: #003a8c;
}

.delete-button:hover {
    background-color: #cc0000;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #004AAD;
}

.update-recipes {
    margin-top: 20px;
    font-size: 16px;
}

.update-recipes button {
    background: none;
    color: #004AAD;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .profile-page {
        flex-direction: column;
        height: auto;
    }

    .profile-picture {
        width: 100%;
        height: auto;
    }

    .profile-content {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}
.logout-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: darkblue;
}