section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #004AAD;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #F4C561;
    border: none;
    color: #241D10;
    cursor: pointer;
}

form button:hover {
    background-color: #D1A85D; /* Darker shade */
    opacity: 0.8;
}

.SearchBar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.SearchBar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 15px; /* Margin for all screens */
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #004AAD;
    color: #FFFFFF;
    padding: 10px;
}

tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

td {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

td::before {
    content: attr(data-heading);
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

@media (max-width: 768px) {
    table {
        margin: 10px; /* Adjusted margin for smaller tablets and landscape phones */
    }

    tr {
        display: flex;
        flex-direction: column;
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
        background-color: #F4C561;
        color: #241D10;
        padding: 8px;
        font-weight: bold;
    }

    td {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
    }

    td::before {
        content: '';
    }

    td[data-heading]:before {
        content: attr(data-heading);
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: #004AAD;
    }
}

@media (max-width: 480px) {
    table {
        width: 100%;
        margin: 5px; /* Margin for small screens */
    }

    td {
        font-size: 14px;
        padding: 8px; /* Reduced padding for small screens */
    }

    .SearchBar input {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}

td img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

button {
    background-color: #F4C561;
    border: none;
    color: #241D10;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #D1A85D; /* Darker shade */
    opacity: 0.8;
}
